body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	color: #323232;
	line-height: 22px;
	font-weight: 400;

	background-color: #849d8f;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

*, *::before, *::after {
 box-sizing: inherit;
}

html {
 box-sizing: border-box;
}

.catalog-body {
	background-image: url(../img/light.png);
	background-repeat: repeat-x;
}

.visually-hidden { 
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px;
	width: 1px; 
	margin: -1px;
	padding: 0;
	border: 0; 
}

.container {
	margin: 0 auto;
	width: 1200px;
	padding-right: 27px;
	padding-left: 27px;
}

.blog-title {
	margin: 24px 0 0 20px;
	font-size: 16px;
	color: #323232;
	line-height: 22px;
	font-weight: 500;
}

.main-slider {
	position: relative;
	min-height: 493px;
	margin-bottom: 40px;
	margin-top: 42px;
}

.main-slider .slide {
	padding-top: 30px;
}


.slide-input {
	display: none;
}

.slide {
	display: none;
}

#slide1:checked ~ .background .slide1, 
#slide2:checked ~ .background .slide2, 
#slide3:checked ~ .background .slide3 {
	display: block;
	z-index: 1;
}

.slide-controls {
	display: flex;
	position: absolute;
	z-index: 2;
	bottom: 23px;
}

.slide-controls label {
	margin-right: 8px;
	width: 21px;
	height: 21px;
	border: 2px solid white;
	border-radius: 50%;
}

.slide-controls label:hover,
.slide-controls label:focus {
	background-color: rgba(255, 255, 255, 0.4);	
}

.slide-controls label:active {
	background-color: #ffffff;	
}

#slide1:checked ~ .background .slide-controls label:nth-child(1), 
#slide2:checked ~ .background .slide-controls label:nth-child(2), 
#slide3:checked ~ .background .slide-controls label:nth-child(3) {
	background-color: #ffffff;
}

#slide1:checked ~ .background {
	background-color: #849d8f;
	background-image: url(../img/icecream1.png);
	background-repeat: no-repeat;
	background-position: center top;
}

#slide2:checked ~ .background {
	background-color: #8996a6;
	background-image: url(../img/icecream2.png);
	background-repeat: no-repeat;
	background-position: center top;
}

#slide3:checked ~ .background {
	background-color: #9d8b84;
	background-image: url(../img/icecream3.png);
	background-repeat: no-repeat;	
	background-position: center top;
}


.slide1,
.slide2,
.slide3 {
	position: absolute;
	bottom: 2px;
	left: 223px;
	width: 700px;
	text-align: center;
	margin: auto auto 0 auto;
	z-index:0;
}

.main-header {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	padding-top: 8px;
}

.main-header-logo {
	margin-right: 8px;
	line-height: 0;
}

.main-navigation {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 16px;
	color: #ffffff;
	line-height: 18px;
	font-weight: 700;
}

.site-navigation {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	margin-right: 30px;
}

.site-navigation,
.catalog-hover {
	list-style: none;
}

.site-navigation .site-nav-item:hover a {
	color: #323232;
}

.site-navigation .navigation-active:hover > a {
	color: #fff;
}

.site-nav-item:active {
	box-shadow: inset 0 2px 1px #696969;
}

.site-navigation a {
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-hover {
	position: absolute;
	z-index: 5;
	display: none;
	margin: 0;
	padding: 0;
	top: 37px;
	left: -5px;
	min-width: 143px;
	min-height: 171px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
 
.catalog-hover .catalog-item-bold {
	padding-top: 10px;
	padding-bottom: 13px;
	border-bottom: 1px solid #d2d1cf;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.catalog-hover .catalog-item-bold a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;		
}

.catalog-hover li {
	position: relative;
	display: block;
	min-width: 114px;
	color: #323232;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;

}

.catalog-hover::before {
	content: "";
	height: 10px;
	position: absolute;
	top: -10px;
	left: 0;
	right: 0;
}

.nav-catalog {
	position: relative;
}

.nav-catalog:hover .catalog-hover {
	display: block;
}

.nav-catalog .catalog-hover-active  {
	background-color: #d07058;
}

.nav-catalog .catalog-hover-active a  {
	color: #ffffff;
	border-bottom: none;
}

.nav-catalog .catalog-hover-active:hover a  {
	color: #323232;
	border-bottom: none;
}

.site-navigation > li:hover,
.site-navigation > li:focus {
	background-color: #ffffff;
	color: #323232;
}

.site-nav-item  {
	display: block;
	margin: 0;
	padding: 7px 15px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	border-radius: 15px;
}

.site-nav-item .catalog-hover-active .current-page {
	color: #ffffff;
}

.about-company {
	padding-left:13px;
}

.catalog-hover a {
	display: block;
	padding-left: 21px;
	font-size: 14px;
	color: #323232;
	line-height: 32px;
	font-weight: 400;	
}

.catalog-hover li:hover,
.catalog-hover li:focus {
	background-color: #fbded7;
}

.catalog-hover li:active {
	background-color: #f6b5a5;
}

.navigation-active {
	font-size: 16px;
	color: #ffffff;
	line-height: 18px;
	font-weight: 700;

	background-color: #d07058;	
}

.navigation-active a {
	border-bottom: none;
}

.site-navigation .navigation-active:hover {
	color: #333333;
	background-color: #d07058;	
}

.login-link a,
.empty-cart a,
.full-cart a {
	display: block;
	font-size: 14px;
	color: #ffffff;
	line-height: 16px;
	font-weight: 500;
	border-radius: 16px;
}

.login-link a:hover,
.empty-cart a:hover,
.login-link a:focus,
.empty-cart a:focus {
	font-size: 14px;
	color: #323232;
	line-height: 16px;
	font-weight: 500;

	background-color: #ffffff;
}

.search-block:hover .svg-search,
.login-link:hover .svg-login,
.cart:hover .svg-cart,
.search-block:focus .svg-search,
.login-link:focus .svg-login,
.cart:focus .svg-cart {
	fill: #000000;
}

.cart-red circle,
.cart-red path:last-child  {
	fill: #ffffff;
}

.cart:hover .cart-red circle,
.cart:hover .cart-red path:last-child  {
	fill: #343434;
}

.search-block svg,
.login-link svg,
.cart svg {
	vertical-align: middle;
}

.login-link svg {
	margin-right: 4px;
}

.top-right-bar > div {
	margin-left: 10px;
	position: relative;
	color: #fff;
	border-radius: 16px;
	background-color: rgba(255, 255, 255, 0.2);
}

.top-right-bar .search {
	width: 32px;
	height: 32px;
	border-radius: 16px;
}

.top-right-bar .search:hover,
.top-right-bar .search:focus {
	background-color: #ffffff;
}

.search-block .search {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-block {
	position: relative;
}

.modal-search {
	position: absolute;
	z-index: 2;
	display: none;
	right: 0;
	top: 37px;
	margin: 0;
	padding: 0;
	min-width: 342px;
	min-height: 85px;
	background-color: rgb(248, 247, 244);
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search-block:after {
	content: "";
	height: 30px;
	position: absolute;
	z-index: 2;
	top: 20px;
	left: 0;
	right: 0;	
}

.search-block:hover .modal-search {
	display: block;
	background-color: rgb(248, 247, 244);
}

.modal-search input[type="text"] {
	display: block;
	margin: 21px auto;
	height: 42px;
	width: 310px;
	padding-left: 15px;
	vertical-align: middle;
	border-radius: 5px;
	box-shadow: none;
	font-size: 14px;
	border: 1px solid rgb(211, 211, 210);
	color: #999999;
	line-height: 24px;
	font-weight: 400;	
}

.modal-search input[type="text"]:focus {
	font-size: 14px;
	color: #323232;
	line-height: 24px;
	font-weight: 700;	
}

.top-right-bar .login-link > a {
	padding: 0 16px;
	line-height: 32px;
}

.login-link {
	position: relative;
}

.modal-login {
	position: absolute;
	display: none;
	z-index: 2;
	width: 277px;
	min-height: 214px;
	padding: 18px 20px;
	right: 0;
	top: 37px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.login-link:after {
	content: "";
	height: 30px;
	position: absolute;
	z-index: 2;
	top: 20px;
	left: 0;
	right: 0;	
}

.login-link:hover .modal-login {
	display: block;
}

.login-form input[type="password"],
.login-form input[type="email"] {
	display: block;
	padding-left: 15px;
	width: 100%;
	height: 44px;
	font-size: 14px;
	color: #999999;
	line-height: 24px;
	font-weight: 400;	

	background-color: #ffffff;
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
}

.login-form input[type="password"]:focus,
.login-form input[type="email"]:focus {
	font-size: 14px;
	color: #323232;
	line-height: 24px;
	font-weight: 700;	
}

.login-form button {
	display: inline-block;
	width: 100px;
	height: 46px;
	font-size: 18px;
	color: #ffffff;
	line-height: 24px;
	font-weight: 700;	
	border-radius: 23px;
	outline: none;
	border: none;
}
 
.login-form a {
	font-size: 13px;
	color: #323232;
	line-height: 24px;
	font-weight: 400;	

	border-bottom: 1px solid rgba(50, 50, 50, 0.3);	
	border-radius: 0;
}

.login-form a:hover,
.login-form a:focus,
.login-form a:active {
	line-height: 24px;
	font-size: 13px;
	color: #e84d37;
	font-weight: 400;	

	border-bottom: 1px solid rgba(232, 77, 55, 0.3);
	background-color: #f8f7f4;	
}

.login-form-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login-password-info {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 120px;
}

.top-right-bar .cart {
	width: 117px;
}

.top-right-bar .cart a{
	padding: 0 16px;
	line-height: 32px;	
}

.empty-cart-text,
.full-cart-text {
margin-left: 3px;
}

.opening-hours {
	margin: 0;
	padding: 0;
	margin-top: 13px;
	margin-bottom: 5px;
	font-size: 14px;
	color: #ffffff;
	line-height: 16px;
	font-weight: 700;
	text-align: right;
}

.phone {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	font-size: 22px;
	color: #ffffff;
	line-height: 24px;
	font-weight: 700;	
}

.phone:hover,
.phone:focus {
	font-size: 22px;
	color: #ffbc9e;
	line-height: 24px;
	font-weight: 700;	
}

.top-right-bar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header-contact {
	position: absolute;
	right: 0;
	top: 60px;
}

.slider-text {
	font-size: 60px;
	color: #ffffff;
	line-height: 60.35px;
	font-weight: 700;
	text-align: center;		
}

.button {
	color: #ffffff;
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
	color: #ffffff;
	background-image: linear-gradient( 90deg, rgba(231,74,53,0.8) 0%, rgba(242,104,67,0.8) 100%);
	box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
}

.button:active {
	background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}

.slider-button {
	display: block;
	width: 278px;
	height: 63px;
	margin: 30px auto 0 auto;
	padding-top: 10px;
	font-size: 32px;
	color: #ffffff;
	line-height: 44px;
	font-weight: 700;
	text-align: center;	
	border-radius: 32px;	
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76)
}

.special-offer-raspberry {
	width: 560px;
	min-height: 230px;
	border-radius: 15px;
	background-image: url(../img/raspberry-bg.jpg);
	background-repeat: no-repeat;
}

.special-offer-chocolate {
	width: 560px;
	min-height: 230px;
	border-radius: 15px;
	background-image: url(../img/choco-bg.jpg);
	background-repeat: no-repeat;
}

.special-offers h3 {
	margin: 16px auto 0 20px;
	padding: 0;
	font-size: 35px;
	color: #ffffff;
	line-height: 41px;
	font-weight: 700;
}

.special-offers p {
	margin: 15px 25px 0 20px;
	padding: 0;
	font-size: 18px;
	color: #ffffff;
	line-height: 22px;
	font-weight: 700;
}

.special-offers {
	margin-bottom: 40px;
}

.special-offers-wrapper {
	display: flex;
	justify-content: space-between;
}

.special-offer-button {
	display: block;
	height: 46px;
	width: 165px;
	margin: 43px 21px auto auto;
	padding-top: 8px;      
	text-align: center;
	border-radius: 23px;
	font-size: 18px;
	color: #ffffff;
	line-height: 24px;
	font-weight: 700;
}

.bestsellers-list {
	display: flex;
	justify-content: space-between;	
	margin: 0;
	padding: 0;
	list-style: none;
}

.bestsellers {
	margin-bottom: 40px;	
}

.bestseller-label {
	position: absolute;
	z-index: 1;
}

.bestsellers-items,
.catalog-item {
	position: relative;
	width: 267px;
}

.bestseller-item,
.image-item {
	border-radius: 50%;
}

.bestsellers .price,
.catalog-grid .price {
	font-size: 45px;
	color: #ffffff;
	line-height: 45px;
	font-weight: 700;
}

.bestsellers .measure,
.catalog-grid .measure {
	margin-left: -18px;
	font-size: 30px;
	color: #ffffff;
	line-height: 45px;
	font-weight: 700;
}

.bestseller-name,
.product-name {
	margin: 5px 0 0 0;
	padding: 0;
	text-align: center;
}
.bestseller-name a,
.product-name a {
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	line-height: 22px;
	font-weight: 500;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.image-price a {
	line-height: 0;
}

.image-price {
	position: relative;
	z-index: 5;
}

.image-price .price {
	position: absolute;
	bottom: -30px;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.image-price svg {
	position: relative;
	bottom: -4px;
	left: -8px;
	margin: 0;
	padding: 0;
}

.bestsellers-items > img {
	z-index: 6;
}

.bestseller-name,
.product-name {
	position: relative;
	z-index: 6;
}

.bestseller-name a:hover,
.bestseller-name a:focus,
.bestseller-name a:active,
.product-name a:hover,
.product-name a:focus,
.product-name a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.product-background {
	display: none;
	position: absolute;
	z-index: 1;
	top:-6px;
	left: -13px;
	width: 293px;
	height: 405px;
	background-color: rgba(248, 247, 244, 0.2);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.bestsellers-items:hover .product-background,
.catalog-item:hover .product-background {
	display: block;
}

.product-background .product-button {
	display: block;
	position: absolute;
	z-index: 2;
	bottom: 22px;
	left: 50%;
	transform: translateX(-50%);
	box-sizing: border-box;
	width: 200px;
	height: 46px;
	text-align: center;
	padding-top: 10px;
	border-radius: 21px;
}

.about-us {
	margin-top: -3px;
	margin-bottom: 38px;
	border-radius: 15px;
	background-image: url(../img/pattern-bg1.jpg);
	background-repeat: repeat;
	background-color: rgb(237, 225, 200);
}

.about-us-title {
	margin-left: 21px;
	padding-top: 25px;
	margin-bottom: 25px;
	font-size: 24px;
	color: #323232;
	line-height: 30px;
	font-weight: 500;
}

.about-us-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.about-us-list li {
	position: relative;
	width: 492px;
	margin-top: -2px;
	margin-left: 76px;
	padding-right: 10px;
	padding-bottom: 24px;
}

.about-us-tehnology::before {
	position: absolute;
	content: "";
	width: 49px;
	height: 49px;
	left: -56px;
	top: -13px;
	background-image: url(../img/ice-cream.svg);
	background-repeat: no-repeat;
}

.about-us-partners::before {
	position: absolute;
	content: "";
	width: 49px;
	height: 49px;
	left: -58px;
	top: -13px;
	background-image: url(../img/cow.svg);
	background-repeat: no-repeat;
}

.about-us-production::before {
	position: absolute;
	content: "";
	width: 49px;
	height: 49px;
	left: -56px;
	top: -13px;
	background-image: url(../img/eco.svg);
	background-repeat: no-repeat;
}

.about-us-delivery::before {
	position: absolute;
	content: "";
	width: 49px;
	height: 49px;
	left: -58px;
	top: -13px;
	background-image: url(../img/thermometer.svg);
	background-repeat: no-repeat;
}

.blog-newsletter {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.from-blog a {
	font-size: 24px;
	color: #323232;
	line-height: 30px;
	font-weight: 700;
	text-decoration: underline;
}

.from-blog p {
	margin: 3px 0 0 20px;
	width: 290px;	
}

.from-blog a:hover,
.from-blog a:focus,
.from-blog a:active {
	font-size: 24px;
	color: #e84d37;
	line-height: 30px;
	font-weight: 700;
	text-decoration: underline;
}

.from-blog {
	width: 560px;
	min-height: 220px;
	background-color: #ffffff;
	background-image: url(../img/strawberry-bg.jpg);
	background-repeat: no-repeat;
	border-radius: 15px;
}

.newsletter p {
	margin: 28px 10px 0 22px;
	color: #5a5a5a;
}

.newsletter {
	position: relative;
	width: 560px;
	min-height: 220px;

	background-color: #ffffff;
	background-image: url(../img/bg-post.svg);
	background-repeat: repeat;
	border-radius: 15px;
}

.newsletter-inner {
	position: absolute;
	top: 0px;
	width: 548px;
	min-height: 208px;

	margin: 6px;
	background-color: #f8f7f4;
	border-radius: 9px;
}

.newsletter-form input[type="email"] {
	display: inline-block;
	margin-left: 22px;
	margin-top: 36px;
	padding-left: 12px;
	width: 368px;
	height: 44px;
	font-size: 16px;
	color: #999999;
	line-height: 24px;
	font-weight: 400;	

	background-color: #ffffff;
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
}

.newsletter button {
	display: inline-block;
	width: 129px;
	height: 44px;
	margin-left: 7px;
	padding-bottom: 12px;
	padding-top: 9px;
	vertical-align: middle;
	color: #fff;
	font-weight: 700;
	border-radius: 23px;
	border: none;
	outline: none;
}

.contact {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.contact::before {
	position: absolute;
	left: 266px;
	top: 140px;
	content: "";
	width: 80px;
	height: 140px;
	background-image: url(../img/pin.svg);
	background-repeat: no-repeat;
}

.address {
	position: absolute;
	top: 62px;
	right: 27px;
	width: 303px;
	min-height: 307px;
	padding: 30px 25px;
	background-color: #ffffff;	
	border-radius: 15px;
}

.address p {
	margin:0;
	margin-bottom: 0px;
	padding:0;
	font-size: 14px;
	color: #323232;
	line-height: 20px;
	font-weight: 400;
}

.address .address-city {
	margin-bottom: 18px;
}

.address .for-orders {
	margin-bottom: 5px;
}

.address b {
	font-size: 18px;
	color: #323232;
	line-height: 24px;
	font-weight: 700;
}

.address .phone {
	font-size: 18px;
	color: #323232;
	line-height: 24px;
	font-weight: 700;
}

.address .open {
	margin-bottom: 25px;
}

.address .phone:hover,
.address .phone:focus,
.address .phone:active {
	color: #e84d37;
}

.feedback-button {
	display: block;
	width: 252px;
	height: 46px;
	padding-top: 10px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;	
	border-radius: 23px;
	outline: none;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	min-height: 105px;
	padding-top: 26px;
}

.footer-social ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	min-width: 185px;
	list-style: none;
	margin: 0;
	margin-top: 6px;
	margin-left: 2px;
	padding: 0;
}

.footer-social li {
	position: relative;
}

.footer-social a {
	width: 32px;
	height: 32px;
	box-sizing: content-box;
	border: 2px solid rgba(255, 255, 255, 0.7);
}

.footer-social svg {
	position: absolute;
	top: 2px;
	left: 2px;
}

.social-button {
	display: block;
	width: 32px;
	height: 32px;
	fill: rgba(255, 255, 255, 0.8);
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.5);
}

.social-button:hover,
.social-button:focus {
	fill: #fff;
	border: 2px solid rgba(255, 255, 255, 0.7);
}

.social-button:active {
	fill: #e9e9e9;
	border: 2px solid #e9e9e9;
}

.footer-documents ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	width: 330px;
	margin: 0;
	margin-top: -2px;
	padding: 0;
	list-style: none;
}

.footer-documents li {
	position: relative;
	width: 50%;
}

.footer-documents li:nth-child(2n-1) {
	left: 15px;
}

.footer-documents li:nth-child(2n) {
	left: -5px;
}

.footer-documents a {
	font-size: 13px;
	color: #ffffff;
	line-height: 18px;
	font-weight: 400;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-documents a:hover,
.footer-documents a:focus,
.footer-documents a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-documents .suppliers {
	position: relative;
	font-weight: 700;
}

.footer-documents .suppliers::before {
	position: absolute;
	content: "";
	top: 2px;
	left: -20px;
	width: 15px;
	height: 13px;
	background-image: url(../img/heart.svg)
}


.footer-copyright {
	position: relative;
	width: 192px;
	margin-top: 30px;
	text-align: right;
	font-size: 12px;
	color: #ffffff;
	line-height: 18px;
	font-weight: 400;
}

.footer-copyright a {
	color: #ffffff;	
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.image-copyright {
	position: absolute;
	top: -46px;
	right: 80px;
}

.modal-feedback {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 447px;
	min-height: 442px;
	margin: 0 auto;
	padding: 20px 25px 27px;
	background-color: #f8f7f4;
	border-radius: 15px;
}

.modal-feedback h2 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	color: #323232;
	line-height: 28px;
	font-weight: 500;	
}

.modal-feedback .modal-close {
	position: absolute;
	top: 15px;
	right: 15px;
	display: block;
	width: 17px;
	height: 18px;
	border: none;
	background: url(../img/cross-big.svg) no-repeat;
}

.feedback-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 355px;
}

.feedback-form button {
	align-self: flex-end;
	width: 139px;	
	height: 46px;
	padding-bottom: 10px;
	padding-top: 8px;
	font-size: 18px;
	color: #ffffff;
	line-height: 24px;
	font-weight: 700;	
	border-radius: 23px;
	outline: none;
	border: none;
	}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
	padding-left: 15px;
	font-size: 16px;
	color: #999999;
	line-height: 24px;
	font-weight: 400;	

	background-color: #ffffff;
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
	font-size: 16px;
	color: #323232;
	line-height: 24px;
	font-weight: 700;	
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
	width: 267px;
	height: 44px;
}

.feedback-form textarea {
	height: 155px;
	width: 397px;
	padding-top: 15px;	
}

.feedback-form p {
	margin: 0;
	padding: 0;
}

.newsletter-form input:hover,
.feedback-form input:hover,
.login-form input:hover,
.modal-search input:hover {
	border: 2px solid rgba(178, 178, 178, 0.52);
}

.full-cart {
	position: relative;
}

.table-cart {
	position: absolute;
	z-index: 2;
	top: 37px;
	right: 0px;
	display: none;
	width: 540px;
	min-height: 237px;

	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.table-cart table {
	width: 510px;
	margin-left: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-spacing: 0 10px;
}

.table-cart a {
	display: block;
}

.table-cart tr {
	width: 510px;
}

.cart-delete {
	width: 14px;
}

.cart-img {
	width: 57px;
	text-align: center;
}

.cart-product-name {
	width: 235px;
	text-align: left;
}

.cart-quantity {
	width: 60px;
	text-align: right;	
}

.cart-price {
	width: 75px;
	color: #999999;	
	text-align: left;
}

.cart-total-price {
	width: 68px;
	text-align: left;
}

.cart-sum {
	display: block;
	width: 510px;
	margin-left: 15px;
	margin-top: 10px;
	padding-top: 16px;
	text-align: right;
	font-size: 15px;
	line-height: 18px;
	border-top: 1px solid #cacac7;
}

tr:last-child .cart-product-name {
	vertical-align: bottom;
}
.table-cart button {
	display: block;
	height: 46px;
	width: 170px;
	margin: 7px 15px 15px auto;
	border-radius: 23px;
	outline: none;
}

.full-cart:hover .table-cart {
	display: block;
}

.full-cart:hover {
	background-color: #f8f7f4;
}

.full-cart:hover a {
	color: #323232;
}

.full-cart::after {
	content: "";
	height: 30px;
	position: absolute;
	z-index: 2;
	top: 20px;
	left: 0;
	right: 0;
}

.cart-product-name,
.cart-quantity,
.cart-total-price {
	font-size: 13px;
	color: #323232;
	line-height: 16px;
	font-weight: 400;	
}

.cart-price {
	font-size: 13px;
	color: #999999;
	line-height: 16px;
	font-weight: 400;		
}

.table-cart button {
	font-size: 18px;
	color: #ffffff;
	line-height: 24px;
	font-weight: 700;	
}

.cart-sum {
	font-size: 15px;
	color: #323232;
	line-height: 18px;
	font-weight: 700;		
}

.breadcrumbs {
	min-height: 15px;
	margin-top: 5px;
	margin-bottom: 9px;
}

.breadcrumbs-list {
	display: flex; 
	align-items: center;
	list-style:none;
	margin: 0;
	padding: 0;
}

.breadcrumbs a {
	font-size: 14px;
	color: #ffffff;
	line-height: 16px;
	font-weight: 400;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs .current-page {
	padding-top: 2px;
	font-size: 14px;
	color: #ffffff;
	line-height: 16px;
	font-weight: 400;	
}

.breadcrumbs li:not(:last-child)::after {
	content: "  » ";

	font-size: 14px;
	color: #ffffff;
	line-height: 16px;
	font-weight: 400;	
}

.catalog-name {
	min-height: 41px;
	margin-bottom: 22px;
	font-size: 35px;
	color: #ffffff;
	line-height: 41px;
	font-weight: 700;		
}


.filters {
	width: 879px;
	min-height: 131px;
	margin-bottom: 40px;
}

.filters form {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.filters fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.filters legend {
	font-size: 14px;
	color: #ffffff;
	line-height: 16px;
	font-weight: 500;		
}

.filters label {
	font-size: 16px;
	color: #ffffff;
	line-height: 18px;
	font-weight: 500;	

	background-color: rgba(255,255,255,0.2);	
}

.filters button {
	width: 144px;
	height: 36px;

	font-size: 16px;
	color: #ffffff;
	line-height: 18px;
	font-weight: 500;	

	background-color: rgba(255,255,255,0.2);
	border: 2px solid #ffffff;	
	border-radius: 15px;
	outline: none;
}

.filters button:hover,
.filters button:focus {
	color: #323232;

	background-color: rgb(255,255,255);
}

.filters button:active {
	background-color: #ededed;
	box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
	border: none;
}

.fatness-wrapper,
.content-wrapper {
	display: flex;
	align-items: center;
}

.catalog-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item {
	width: 267px;
	margin-bottom: 40px;
}

.catalog {
	margin-bottom: 40px;
}

.product-button {
	font-size: 18px;
	color: #ffffff;
	line-height: 24px;
	font-weight: 700;		
}

.pagination ul{
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination {
	margin-bottom: 30px;
}

.pagination li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 26px;
	height: 26px;

	border-radius: 50%;
}

.pagination .active {
	font-size: 16px;
	color: #323232;
	line-height: 18px;
	font-weight: 500;	

	background-color: #ffffff;	
}

.pagination a {
	color: #ffffff;
}

.pagination a:hover,
.pagination a:focus {
	background-color: rgba(255,255,255,0.2);
}













