.container {
	margin: 0 auto;
	width: 1200px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #323232;
	line-height: 22px;
	font-weight: 400;
}

.blog-title {
	font-size: 16px;
	color: #323232;
	line-height: 22px;
	font-weight: 500;
}

.about-us-title {
	font-size: 24px;
	color: #323232;
	line-height: 30px;
	font-weight: 500;
}

.slide-input {
	display: none;
}

.slide {
	display: none;
}

#slide1:checked ~ .container .slide1, 
#slide2:checked ~ .container .slide2, 
#slide3:checked ~ .container .slide3 {
	display: block;
}

.slide-controls {
	display: flex;
}

.slide-controls label {
	margin-right: 10px;
	width: 10px;
	height: 10px;
	background-color: #000;	
}

